{% load static %}

<header class="header">
    <div class="container header__container flex">
        <div class="header__logo flex">
            <a class="header__logo-block flex" href="#">
                <img src="{% static 'img/Logo.svg' %}" alt="Logo">
                <span class="header__logo-title">FortuHost
            <span class="blur">FortuHost</span>
          </span>
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list flex list-reset">
                <li class="header__nav-item">
                    <a href="#">Управление</a>
                    <span class="blur">Управление</span>
                </li>
                <li class="header__nav-item">
                    <a href="#">Документация</a>
                    <span class="blur">Документация</span>
                </li>
                <li class="header__nav-item">
                    <a href="#">Поддержка</a>
                    <span class="blur">Поддержка</span>
                </li>
                <li class="header__nav-item">
                    <a href="#">Вход</a>
                    <span class="blur">Вход</span>
                </li>
            </ul>
        </nav>
    </div>
</header>