{% extends 'base/base.html' %}

{% load static %}

{% block title %}Обновление приложения{% endblock %}

{% block content %}
    <main>
        <h1>Обновление приложения</h1>
        <div id="sign-variant-via-email">
            <div class="border rounded border-light p-2 bg-light">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="main_button" type="submit">Обновить</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}

{% endblock %}
